// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.horizontal-2 {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}