
$color0: #4a90e2;
$color1: #d0021b;
$color2: #f5a623;
$color3: #417505;
$color4: #ff5600;
$color5: #e010dc;
$color6: #9013fe;
$color7: #50e3c2;
$color8: #233f8a;
$color9: #7ed321;

$color-svg-border: #ebedf8;

svg {
  background-color: white;
}

.line0 {
  fill: none;
  stroke: $color0;
  stroke-width: 1.5px;
}
.line1 {
  fill: none;
  stroke: $color1;
  stroke-width: 1.5px;
}
.line2 {
  fill: none;
  stroke: $color2;
  stroke-width: 1.5px;
}
.line3 {
  fill: none;
  stroke: $color3;
  stroke-width: 1.5px;
}
.line4 {
  fill: none;
  stroke: $color4;
  stroke-width: 1.5px;
}

.dot0 {
  fill: white;
  stroke: $color0;
  stroke-width: 1.5px;
}

.dot1 {
  fill: white;
  stroke: $color1;
  stroke-width: 1.5px;
}
.dot2 {
  fill: white;
  stroke: $color2;
  stroke-width: 1.5px;
}
.dot3 {
  fill: white;
  stroke: $color3;
  stroke-width: 1.5px;
}
.dot4 {
  fill: white;
  stroke: $color4;
  stroke-width: 1.5px;
}

.legend0 {
  fill: $color0;
}
.legend1 {
  fill: $color1;
}
.legend2 {
  fill: $color2;
}
.legend3 {
  fill: $color3;
}
.legend4 {
  fill: $color4;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  //shape-rendering: crispEdges;
  stroke-dasharray: 5;
}

#ttip {
  position: relative;
  z-index: 10;
  width: 75px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #000;
  //pointer-events: none;
  visibility: hidden;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.bi-tooltip {
  z-index: 10;
  font-size: 15px;
  pointer-events: none;
}

.bi-tooltip__block {
  z-index: 12;
  stroke-width: 2px;
  stroke: cyan;
  width: 100px;
  height: 50px;
  fill: white;
  opacity: 1;
}
.bi-tooltip__block__text {
  z-index: 12;
  font-size: 15px;
  color: black;
}

.line-chart-wrapper {
  border: 1px solid $color-svg-border;
}
