
$color0: #4a90e2;
$color1: #d0021b;
$color2: #f5a623;
$color3: #417505;
$color4: #ff5600;
$color5: #e010dc;
$color6: #9013fe;
$color7: #50e3c2;
$color8: #233f8a;
$color9: #7ed321;

$color-svg-border: #ebedf8;

svg {
  background-color: white;
}

.solid {
  stroke-width: 1.5px;
}
.dashed {
  stroke-dasharray: 5;
}

.line0 {
  fill: none;
  stroke: $color0;
}
.line1 {
  fill: none;
  stroke: $color1;
}
.line2 {
  fill: none;
  stroke: $color2;
}
.line3 {
  fill: none;
  stroke: $color3;
}
.line4 {
  fill: none;
  stroke: $color4;
}

.dot0 {
  fill: white;
  stroke: $color0;
  stroke-width: 1.5px;
}

.dot1 {
  fill: white;
  stroke: $color1;
  stroke-width: 1.5px;
}
.dot2 {
  fill: white;
  stroke: $color2;
  stroke-width: 1.5px;
}
.dot3 {
  fill: white;
  stroke: $color3;
  stroke-width: 1.5px;
}
.dot4 {
  fill: white;
  stroke: $color4;
  stroke-width: 1.5px;
}

.legend0 {
  fill: $color0;
}
.legend1 {
  fill: $color1;
}
.legend2 {
  fill: $color2;
}
.legend3 {
  fill: $color3;
}
.legend4 {
  fill: $color4;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  //shape-rendering: crispEdges;
  stroke-dasharray: 5;
}

.da-alert line {
  stroke: green;
  stroke-opacity: 1;
  stroke-dasharray: 5;
}

.delimiter line {
  stroke: green;
  stroke-opacity: 1;
}

.bi-tooltip {
  z-index: 10;
  font-size: 15px;
  pointer-events: none;
}

.bi-tooltip__block {
  z-index: 12;
  stroke-width: 2px;
  stroke: cyan;
  width: 50px;
  height: 25px;
  fill: white;
  opacity: 1;
}
.bi-tooltip__block__text {
  z-index: 12;
  font-size: 12px;
  color: black;
}

.line-chart-wrapper {
  border: 1px solid $color-svg-border;
}

.bi-tooltip--violation__block {
  z-index: 12;
  stroke-width: 2px;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.8);
  stroke: gray;
  width: 300px;
  height: 40px;
  fill: white;
  opacity: 1;
}

.foreign-div {
  padding: 10px 5px;
  background-color: white;
  border: 1px solid gray;
  height: 100%;
  overflow: auto;
  font-size: 18px;
}
